<PaperAutocomplete
  @placeholder="Find localization"
  @options={{predictions}}
  @selected={{selectedPlace.description}}
  @loadingMessage="Searching localizations..."
  @onSelectionChange={{action "findPlaceDetails"}}
  @search={{action "requestPredictions"}}
  @noMatchesMessage="Oops this localization doesn't exist."
  @errorMessage={{this.errorMessage}}
  as |item|>
  <span class="item-title">
    <PaperAutocompleteHighlight flags="i" @label={{item.description}} />
  </span>
</PaperAutocomplete>
{{this.errorMessage}}