{{#if media.isDesktop}}
  <div class="left">
    <h3 class="localization">{{this.localization}}</h3>
    <h5 class="description">{{this.weather.description}}</h5>
    <WeatherIcon @icon={{this.weather.icon}} @description={{this.weather.description}} />
    <TemperatureUnitSwitch @temperature={{this.weather.temp}} @isCelsius={{this.isCelsius}}/>
  </div>
  <div class="right">
    <span class="time">{{moment-format convertedTime "dd, k a" class="time"}}</span>
    <span class="pressure">Pressure: {{this.weather.pressure}} hpa</span>
    <span class="wind">Wind: {{this.weather.wind}} km/h</span>
    <span class="humidity">Humidity: {{this.weather.humidity}}%</span>
    <span class="cloudiness">Cloudiness: {{this.weather.cloudiness}}%</span>
  </div>
{{else}}
  <h3 class="localization">{{this.localization}}</h3>
  <span class="time">{{moment-format convertedTime "dd, k a" class="time"}}</span>
  <WeatherIcon @icon={{this.weather.icon}} @description={{this.weather.description}} />
  <TemperatureUnitSwitch @temperature={{this.weather.temp}} @isCelsius={{this.isCelsius}} />
  <span class="pressure">Pressure: {{this.weather.pressure}} hpa</span>
  <span class="wind">Wind: {{this.weather.wind}} km/h</span>
  <span class="humidity">Humidity: {{this.weather.humidity}}%</span>
  <span class="cloudiness">Cloudiness: {{this.weather.cloudiness}}%</span>
{{/if}}