{{#if (not media.isMobile)}}
  <div class="logo-wrapper">
    <img class="logo" src="assets/logo/logo_transparent.png" alt="swoboda">
  </div>
{{/if}}
<div class="flex-100 layout-row layout-align-center-center main-input-wrapper">
  <div class="main-input-container flex-95 layout-row">
    <p id="message">{{message}}</p>
    {{place-autocomplete-field
      value= model.address
      handlerController= this
      inputClass= 'main-input flex-100 place-autocomplete--input'
      focusOutCallback="done"
      placeChangedCallback="placeChanged"
      placeholder="Enter city name or address"
    }}
    {{#paper-button iconButton=true}}{{paper-icon "search"}}{{/paper-button}}
  </div>
</div>
<div class="layout-row layout-align-center-center menu-wrapper">
  {{#if media.isDesktop}}
    {{#paper-button raised=true}}sign in{{/paper-button}}
    {{#paper-button raised=true primary=true}}sign up{{/paper-button}}
  {{else}}
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button iconButton=true}}
          {{paper-icon "menu"}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content width=4 as |content|}}
        {{#content.menu-item onClick=(transition-to "")}}
          {{paper-icon "fingerprint"}}
          <span>Sign In</span>
        {{/content.menu-item}}
        {{#content.menu-item onClick=(transition-to "")}}
          {{paper-icon "assignment"}}
          <span>Sign Up</span>
        {{/content.menu-item}}
      {{/menu.content}}
    {{/paper-menu}}
  {{/if}}
</div>