<div class={{formMainWrapperClasses}}>
  {{#if isSignUp}}
    {{x-form/sign-up}}
  {{else}}
    {{x-form/sign-in}}
  {{/if}}
</div>

<div class={{formDividerClasses}}></div>

<div class={{formNavBarClasses}}>
  {{#link-to "home"}}
    <img src="/assets/logo/logo_transparent.png" alt="logo">
  {{/link-to}}
  <div class="button-wrapper layout-column layout-align-start-center">
    {{#if isSignUp}}
      <span>If you already have an account</span>
      {{#paper-button raised=true onClick=(transition-to "/auth/sign-in")}}
        Sign in
      {{/paper-button}}
    {{else}}
      <span>If you don't have an account</span>
      {{#paper-button raised=true onClick=(transition-to "/auth/sign-up")}}
        Sign up
      {{/paper-button}}
    {{/if}}
  </div>
  <div class="button-wrapper layout-column layout-align-start-center">
    <span>If you want to look at my other projects</span>
    {{#paper-button raised=true}}Projects{{/paper-button}}
  </div>
</div>